@import './normalize.css';


/* :root -> 获取根元素html */
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
  --text-decoration: line-through
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: var(--font-size); */
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;  /* 禁止用户鼠标在页面上选中文字、图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

/* 清除浮动 */
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* 文字删除线 */
.text-de{
  text-decoration: line-through;
}
/* 溢出省略号 */
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis1{
  display: -webkit-box;/*关键属性*/
  word-break: break-all;
  -webkit-box-orient: vertical;/* 关键属性 */
  -webkit-line-clamp:2;/* 关键属性 */
  overflow: hidden;/* 关键属性 */
  text-overflow:ellipsis;/* 超出内容显示省
  略号*/
}
.ellipsis2{
  display: -webkit-box;/*关键属性*/
  word-break: break-all;
  -webkit-box-orient: vertical;/* 关键属性 */
  -webkit-line-clamp:3;/* 关键属性 */
  overflow: hidden;/* 关键属性 */
  text-overflow:ellipsis;/* 超出内容显示省
  略号*/
}
/*
*弹性布局
*/
.flex-ctr {
  display: flex;
  align-items: center;
}
.flex-btn {
  display: flex;
  justify-content: space-between;
}
.flex-ctr-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-ctr-wrap-hidden {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.flex-btn-ctr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around-ctr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-col-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*
*右箭头
*/
.right-arrow {
  width: 10px;
  height: 10px;
}
/*
* 边距
*/
.mgn_r5 {
  margin-right: 5px;
}
/*
* 字体大小
*/

.fs12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
/*
 *字体颜色
*/
.col-b9b7b7 {
  color: #b9b7b7;
}
.col-ff8198 {
  color: #ff8198;
}

.border-b {
  border-bottom: 1px solid #f5f5f5;
}